body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #ffffff; /* Couleur de fond blanche */
    border-bottom: 2px solid #f0f0f0; /* Légère bordure en bas */
}

.navbar-brand {
    font-weight: bold;
    color: #1e7e34; /* Couleur verte similaire à l'image */
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    margin-right: 15px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #1e7e34; /* Couleur verte au survol */
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Ajoute une transition fluide lors de l'expansion/collapse */
.collapse.show {
    transition: max-height 0.3s ease-in;
}